.env
vaccine-2020-07-09.txt
*.csv
test.py
get_identitfication.py
*.tsv
/data
/organization_officials_data
/data_bank
/demographer_testing_data
testing_process.py
2020-07_2020-09.csv
aspect_based_learning/2020-07_2020-09.csv
aspect_based_learning/2020-07_2020-09_reduced.csv
aspect_based_learning/2020-07_2020-09_preproccessed.csv
aspect_based_learning/TwitterAccountClassifier_2.py
aspect_based_learning/2020-07_2020-09_preproccessed_3_150000-500000.csv
aspect_based_learning/2020-07_2020-09_preproccessed_2.csv
aspect_based_learning/human_classified_sentiment_processed.db
aspect_based_learning/human_processed_tweets.db